div(class="quest__links--link" ng-repeat="link in questObject.links | reverse")
                                            div(class="quest__links--link--title")
                                                a(ng-href="{{ link.link }}", target="_blank") {{ link.link }}
                                                small &nbsp; Added on {{ link.created_at | dateandtime }}
                                            div
                                                ul(class="list-inline")
                                                    li( ng-repeat="tag in link.tags")
                                                        span(class="label label-default") {{ tag }}
                                                p(class="quest__links--description", ng-if="link.description") {{ link.description }}
