doctype html
html(lang="en", ng-app="testApp")
    head
        title= "Welcome to forrest"
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        script(type='text/javascript', src='/js/angular.min.js')
        script(type='text/javascript', src='/js/autocomplete.js')
    body(ng-controller="BodyController")
        textarea